* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Barlow", sans-serif;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.header {
  display: flex;
  max-width: 1110px;
  align-items: center;
  justify-content: space-between;
  padding-top: 55px;
  margin-left: auto;
  margin-right: auto;
}

.header div {
  border-radius: 8px;
  background: #e8eff2;
  padding: 16px 27px;
  color: #162542;
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 162.5% */
  text-transform: uppercase;
  cursor: pointer;
}

.header div:hover {
  color: #fff;
  background: #162542;
}

@media screen and (max-width: 769px) {
  .header {
    max-width: 689px;
    padding-top: 40px;
  }
}
@media screen and (max-width: 377px) {
  .header {
    width: 450px;
    padding-top: 23px;
    margin-left: 23px;
  }
}
.footer {
  display: flex;
  gap: 20px;
  flex-direction: row;
  position: relative;
  max-width: 100%;
  padding-top: 140px;
}

.footer h4 {
  position: absolute;
  top: 530px;
  left: 600px;
  color: #7b8bad;
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 162.5% */
}

.cards {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-left: 165px;
}

.card {
  width: 255px;
}

.card img {
  margin-bottom: 48px;
}

.card h3 {
  color: #162542;
  font-family: Barlow;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 28px; /* 116.667% */
  text-transform: uppercase;
  width: 220px;
  margin-bottom: 24px;
}

.card p {
  color: #7b8bad;
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 162.5% */
  width: 255px;
}

@media screen and (max-width: 769px) {
  .cards {
    flex-wrap: wrap;
    max-width: 769px;
    margin-left: 40px;
  }
  .footer h4 {
    top: 900px;
    left: 250px;
  }
}
@media screen and (max-width: 377px) {
  .cards {
    margin-left: 100px;
  }
  .footer {
    padding-top: 70px;
  }
  .footer h4 {
    top: 1480px;
    left: 115px;
  }
  .card {
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}
.homes {
  position: relative;
  display: flex;
  flex-direction: row;
  padding-top: 100px;
  align-items: center;
}

.homes_tablet-1 {
  display: none;
}

.homes_tablet-2 {
  display: none;
}

.homes_phone-1 {
  display: none;
}

.homes_phone-2 {
  display: none;
}

.homes_img-rectange {
  position: absolute;
  left: -20%;
  bottom: 0;
}

.imgs {
  display: flex;
  gap: 30px;
  margin-right: 120px;
}

.hom_section {
  width: 255px;
  height: 265px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.hom_section h2 {
  color: #162542;
  font-family: Barlow;
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  line-height: 36px; /* 112.5% */
  text-transform: uppercase;
  width: 255px;
}

.hom_section p {
  color: #7b8bad;
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 162.5% */
  width: 255px;
}

@media screen and (max-width: 769px) {
  .homes {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    align-items: none;
  }
  .imgs {
    margin-left: 90px;
    gap: 20px;
  }
  .homes_desktop-1 {
    display: none;
  }
  .homes_desktop-2 {
    display: none;
  }
  .homes_tablet-1 {
    display: block;
  }
  .homes_tablet-2 {
    display: block;
  }
  .hom_section {
    width: 700px;
    height: 108px;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    gap: 0;
    align-items: center;
    margin-top: 40px;
  }
  .hom_section p {
    width: 398px;
  }
  .hom_section h2 {
    width: 255px;
    color: #162542;
    font-family: Barlow;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: 36px; /* 112.5% */
    text-transform: uppercase;
  }
}
@media screen and (max-width: 377px) {
  .homes {
    padding-top: 420px;
  }
  .imgs {
    margin-left: 98px;
  }
  .homes_tablet-1 {
    display: none;
  }
  .homes_tablet-2 {
    display: none;
  }
  .homes_phone-1 {
    display: block;
  }
  .homes_phone-2 {
    display: block;
  }
  .homes_img-rectange {
    display: none;
  }
  .hom_section {
    max-width: 377px;
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 151px;
    text-align: center;
    margin-left: 150px;
    gap: 12px;
  }
  .hom_section p {
    width: 327px;
  }
  .hom_section h2 {
    width: 255px;
  }
}
.about {
  display: flex;
  height: 483px;
  padding-top: 64px;
  position: relative;
}

.about_top {
  max-width: 445px;
  padding-top: 130px;
  margin-right: 125px;
}

.about_top h1 {
  color: #162542;
  font-family: Barlow;
  font-size: 56px;
  font-style: normal;
  font-weight: 900;
  line-height: 56px; /* 100% */
  text-transform: uppercase;
  width: 445px;
  margin-bottom: 24px;
}

.about_top p {
  color: #7b8bad;
  width: 445px;
  font-family: Barlow;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 144.444% */
  margin-bottom: 40px;
}

.about_top button {
  border-radius: 8px;
  background: #f16718;
  padding: 16px 26px;
  color: #fff;
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 162.5% */
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  margin-right: 40px;
}

.about_top button:hover {
  background: #ff9b62;
}

.about_top span {
  color: #7b8bad;
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 162.5% */
  text-transform: uppercase;
}

.abaut_img-rectange {
  width: 155px;
  height: 240px;
  flex-shrink: 0;
  position: absolute;
  right: -18%;
}

.img-tablet {
  display: none;
}

.img-phone {
  display: none;
}

@media screen and (max-width: 769px) {
  .img-desktop {
    display: none;
  }
  .abaut_img-rectange {
    display: none;
  }
  .img-tablet {
    display: block;
  }
  .about_top {
    max-width: 339px;
    padding-top: 122px;
    margin-right: 69px;
  }
  .about_top h1 {
    width: 339px;
  }
  .about_top p {
    width: 339px;
  }
}
@media screen and (max-width: 377px) {
  .img-tablet {
    display: none;
  }
  .about {
    display: flex;
    flex-direction: column;
    padding-top: 0;
  }
  .img-phone {
    display: block;
    margin-top: 75px;
    position: absolute;
    right: -128px;
  }
  .ndr {
    display: flex;
    width: 340px;
    align-items: center;
  }
}/*# sourceMappingURL=main.css.map */